/* PÁGINA INICIAL */
/* index.html */

.conteudo-home {
    width: 80%;
    background: #fffefc;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.img-home {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img-home:hover {
    transform: scale(1.02);
}


.rodape {
    background-color: #fffaf4;
    color: #4b2e2e;
    padding: 2rem 1rem;
    text-align: center;
    border-top: 2px solid #e7d4c2;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rodape-titulo {
    font-weight: 600;
    font-size: 1.2rem;
    color: #8a4b2b;
}

.rodape-subtitulo {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #5e3a2b;
}

.rodape-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.95rem;
}

.rodape-lista li {
    transition: transform 0.2s ease;
}

.rodape-lista li:hover {
    transform: scale(1.05);
    color: #c26528;
}

@media (max-width: 600px) {
    .rodape {
        padding: 2rem 1rem;
    }

    .rodape-lista {
        font-size: 0.9rem;
    }
}
